html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

#menuSuperior {
    background-color: #4e4d4d;
    min-height: 40px;
    border-bottom: #000 solid 5px;
    margin: 0
}

#menuSuperior .navbar-nav li:hover a {
    background-color: #4e4d4d
}

#menuSuperior .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #4e4d4d;
    font-weight: 600
}

#menuSuperior .navbar-right {
    margin-top: 1px;
    margin-bottom: 1px
}

#menuSuperior .navbar-right .form-control {
    height: 36px;
    background-color: #dcdbdb
}

#menuSuperior .navbar-right .btn {
    padding: 0 12px;
    height: 36px;
    border-left: none;
    background-color: #dcdbdb
}

#menuSuperior .navbar-right li a {
    padding-top: 5px;
    padding-bottom: 5px
}

#menuSuperior .navbar-right li a i {
    color: #000;
    font-size: 26px
}

#areaDoSocio {
    background-color: #262626;
    padding: 5px 0 15px 0
}

#areaDoSocio #logo {
    margin-top: 20px
}

#areaDoSocio #patrocinio {
    margin-top: 65px;
    padding: 0
}

#areaDoSocio #patrocinio li {
    list-style: none;
    display: -webkit-inline-box;
    margin-right: 30px
}

#areaDoSocio #idiomas {
    padding: 0;
    margin: 0;
    float: right
}

#areaDoSocio #idiomas li {
    display: -webkit-inline-box
}

#areaDoSocio #idiomas li a {
    margin-left: 2px
}

#areaDoSocio #idiomas li a img {
    width: 30px;
    height: 20px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%)
}

#areaDoSocio #idiomas li a img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none
}

#areaDoSocio .box-socio {
    margin-top: 20px;
    padding: 10px 20px 17px 10px;
    display: block;
    background: url(img/bgBoxAcesso.png) no-repeat;
    background-size: 100% 100%
}

#areaDoSocio .box-socio h4 {
    color: #ffcd00;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600
}

#areaDoSocio .box-socio h4:before {
    width: 3px;
    height: 20px;
    position: relative;
    margin-right: 5px;
    top: 3px;
    background-color: red;
    content: '';
    display: inline-block
}

#areaDoSocio .box-socio p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px
}

#areaDoSocio .box-socio p.area:before {
    width: 1px;
    height: 40px;
    bottom: 15px;
    position: relative;
    right: 15px;
    background-color: #4e4d4d;
    content: '';
    display: inline-table
}

#areaDoSocio .box-socio p .fa-star {
    color: #ffcd00;
    margin-right: 3px
}

#areaDoSocio .box-socio p .fa-user {
    color: #4e4d4d;
    font-size: 14px;
    margin-right: 3px
}

#areaDoSocio .box-socio form label {
    color: #fff;
    font-size: 12px
}

#areaDoSocio .box-socio form .form-control {
    height: 20px;
    width: 115px;
    margin-right: 3px;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#areaDoSocio .box-socio form .form-control:focus {
    outline: #c5110d;
    border-color: #c5110d
}

#areaDoSocio .box-socio form button {
    padding: 0 12px;
    height: 20px;
    margin-bottom: 5px;
    background-color: #c5110d;
    border-color: #c5110d;
    color: #fff;
    outline: #c5110d;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

#menuPrincipal {
    background-color: #262626;
    margin: 0;
    padding: 0;
    border: none
}

#menuPrincipal .navbar-nav li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px
}

#menuPrincipal .navbar-nav li.open a {
    background-color: #262626;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px
}

#menuPrincipal .navbar-nav .dropdown-menu {
    background-color: #262626
}

#menuPrincipal .navbar-nav .dropdown-menu li:hover a {
    background-color: #262626
}

#tvCap {
    margin-top: 10px;
}

#tvCap h1 {
    text-transform: uppercase;
    color: #fff;
    margin: 5px 0;
    font-weight: 600
}

#tvCap .embed-responsive {
    height: 435px
}

#tvCap .embed-responsive:hover .box-detalhes {
    display: none
}

#tvCap .embed-responsive iframe {
    height: 435px
}

#tvCap .embed-responsive .box-detalhes {
    height: 435px;
    width: 210px;
    position: absolute;
    left: 15px;
    z-index: 10;
    background-color: rgba(41, 40, 35, 0.85);
    padding: 20px 10px
}

#tvCap .embed-responsive .box-detalhes p {
    color: #fff
}

#tvCap .embed-responsive .box-detalhes p.descricao {
    font-size: 12px
}

#tvCap .embed-responsive .box-detalhes h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px
}

#tvCap .programacao {
    padding: 0;
    background-color: #262626;
    height: 428px;
    overflow: auto;
}

#tvCap .programacao h3 {
    margin: 0;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background-color: #c5110d
}

#tvCap .programacao ul {
    margin: 0;
    padding: 0
}

#tvCap .programacao ul li {
    list-style: none;
    padding: 15px 10px;
    -webkit-transition: background 200ms ease-in;
    -moz-transition: background 200ms ease-in;
    -ms-transition: background 200ms ease-in;
    -o-transition: background 200ms ease-in;
    transition: background 200ms ease-in;
}
#tvCap .programacao li.active {
    background-color: #fff !important;
}
#tvCap .programacao li.active p{
    color: #000 !important;
}

#tvCap .programacao li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#tvCap .programacao ul li a {
    text-decoration: none
}

#tvCap .programacao ul li a:hover {
    text-decoration: none
}

#tvCap .programacao ul li a p.data {
    color: #b2b1b1;
    margin-top: 0;
    margin-bottom: 0
}

#tvCap .programacao ul li a p.resumo {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff
}

#sponsor1 {
    padding: 30px 0
}

#sponsor1 img {
    width: 100%
}

#recentes {
    padding: 0 0 30px 0
}

#recentes h3 {
    color: #fff;
    margin: 0
}

#recentes h3 span {
    background-color: #c5110d;
    padding: 10px 15px;
    margin: 0;
    display: table;
    text-transform: uppercase;
    font-weight: 600
}

#recentes img {
    width: 100%
}

#playlists {
    padding: 0 0 30px 0
}

#playlists h3 {
    color: #fff;
    margin: 0
}

#playlists h3 span {
    background-color: #c5110d;
    padding: 10px 15px;
    margin: 0;
    display: table;
    text-transform: uppercase;
    font-weight: 600
}

#playlists img {
    width: 100%
}

#sponsor2 {
    padding: 30px 0
}

#sponsor2 img {
    width: 100%
}

#exclusivo {
    padding: 30px 0 50px 0
}

#exclusivo h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 10px 0
}

#exclusivo .video-socio {
    width: 100%
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

.fechar{
    display:block;
    background: #a91c23;
    color: #ffffff;
    font-size: 20px;
    float: right;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: -12px;
    top: -12px;
    text-align: center;
    position: absolute;
    padding-top: -5px;
}
.window{
    display:none;
    width:550px;
    height:400px;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(220,221,220,0.9);
    z-index:19900;
    padding:44px;
    border-radius:2px;
}
#login .login-right p,
#cadastro .login-right p{
    font-size: 22px;
    color: #231f20;
    font-weight: normal;
    text-indent: each-line;
}

#login .login-right .register,
#cadastro .login-right .register{
    font-size: 13px;
    color: #231f20;
    margin-top: 50px;
}

#login .login-right label,
#cadastro .login-right label{
    margin-top: 26px;
    font-size: 15px;
    color: #231f20;
}

#login .login-right input,
#cadastro .login-right input{
    width: 455px;
    height: 18px;
    background: #FFFFFF;
    border: none;
    margin-top: 5px;
}

#login .login-right .btn.btn-danger,
#cadastro .login-right .btn.btn-danger{
    float: left;
    width: 173px;
    height: 30px;
    background: #d2232a;
    color: #FFFFFF;
    font-style: italic;
    font-size: 15px;
    border: none;
    margin-top: 24px;
}

#login .login-right .btn.btn-success,
#cadastro .login-right .btn.btn-success {
    float: right;
    width: 104px;
    height: 30px;
    background: #40ae49;
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    border: none;
    margin-top: 24px;
    margin-left: 0;
}
.jw-controlbar,
.jw-dock .jw-reset{display: none !important;}
.jw-display-icon-container .jw-background-color .jw-reset{
    background: #fdb000 !important;
}

/************ PLAYOUT *****************/
.body-section .video-section-playout .video{
    width:100%;
    height: 580px;
    margin-top: -25px;
    z-index: 1;
}

.body-section .search{
    height: 265px;
    width: 100%;
    background: #eeede9;
    position: relative;
}

.body-section .search .img-search{
    float: left;
    position: relative;
    z-index: 2000;
}
.body-section .search .form-search .search-right{
    float: right;
}

.body-section .search .search-right img{
    float: right;
    top: 50px;
    position: relative;
}
.body-section .search .form-search{
    float: left;
    margin-left: 0;
    background: #fdb000;
    top: 0;
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.body-section .search .form-search input{
    font-family: 'Crete Round', serif;
    font-size: 16px;
    font-style: italic;
    color: #231f20;
    border: none;
    background: #fedf99;
    margin: 5px 0 0 220px;
    padding: 5px auto 5px 10px;
    height: 24px;
    width: 780px;
}

.body-section .search .form-search .btn-search{
    background: url("../img/btn_search.png");
    width: 38px;
    height: 38px;
    border: none;
    margin: 0 0 0 0;
    float: right;
}

#description-playout .date{
    font-family: 'Roboto', sans-serif !Important;
    font-size: 15.56px;
    color: #ffffff;
    margin: 26px auto auto 56px;
}

#description-playout .content-title{
    font-family: 'Roboto', sans-serif !Important;
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
    margin: 16px auto auto 56px;
}

#description-playout .content-description{
    font-family: 'Roboto', sans-serif !Important;
    font-size: 15px;
    color: #939598;
    margin: 12px auto auto 56px;
}

#comments{
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 20px 18px;
    font-family: 'Roboto', sans-serif;
}

.body-section .count-comments{
    text-transform: uppercase;
    color: #808285;
    font-size: 13.87px;
}

.body-section{
    background: #eeede9;
}
.body-section .comments{
    margin-top: 36px;
}

.body-section .comments li{
    list-style: none;
    font-size: 17px !important;
    color: #231f20;
    margin-left: -40px;
    margin-bottom: 22px;
    border-bottom: solid 1px #a8a9aa;
    padding-bottom: 26px;
    padding-right: 50px;
}

.body-section .comments .user{
    font-weight: bold;
}

.body-section .more-comments{
    text-align: center;
}

.body-section .more-comments a{
    color: #231f20;
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
    width: 100%;
}
